.cart-item {
    transition: all 0.3s;
    padding: 3px 10px;
    margin-bottom: 10px;
}
.cart-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.cart-item__info {
    flex: 1;
}

.cart-item__image {
    width: 100px;
}

.cart-item__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.cart-item__actions {
}

.cart-item__name {
    margin: 0;
    font-weight: 500;
    display: -webkit-box; /* Sử dụng flexbox để định dạng dòng */
    -webkit-box-orient: vertical; /* Đặt chiều hướng của box thành dọc */
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    line-height: 30px;
}

.cart-item__price {
    margin-left: 30px !important;
}

.coupon-list-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.coupon-list-container {
    display: none;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.7s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    overflow-y: auto;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.coupon-list-container.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* mobile & tablet width< 1024*/
@media only screen and (min-width: 63.9375rem) {
}

/* mobile width < 768px*/
@media only screen and (max-width: 767px) {
    .cart-detail__title {
        font-size: 20px !important;
        font-weight: 500;
    }

    .cart-item_btn-remove {
        padding: 1px;
    }

    .cart-item__image {
        width: 60px;
    }

    .cart-item__details {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item__name,
    .cart-item__price {
        font-size: 14px !important;
    }

    .cart-item__price {
        margin-left: 16px !important;
    }

    .quantity-input {
        width: 100px !important;
    }

    .btn-decrease,
    .btn-increase {
        padding: 5px;
    }

    .cart-summary {
        margin-top: 20px;
    }

    .cart-summary__title,
    .cart-summary__delivery-wrap,
    .coupon-toggle {
        display: none !important;
    }
}

/* tablet width >= 768px and with < 1024px */
@media screen and(min-width: 768px) and (max-width: 1023px) {
}
