header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
}
.header-wrap {
    display: flex;
    font-weight: bold;
    padding: 8px 0;
}

.header__logo {
    display: flex;
    width: 250px;
}

/* header-center */
.header-center {
    flex: 1;
}

.header-center_wrapper {
    height: 100%;
}

/* search fixed */

#resultBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 99999;
}

#resultBox.show {
    transform: translateY(0);
}

.search-results {
    width: 80%;
    background-color: white;
    border: 1px solid rgb(136, 136, 136, 0.2);
    top: calc(100% + 10px);
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 2300;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998 !important;
}

.search_by.active {
    background-color: rgb(255, 219, 0);
}

.hidden {
    display: none;
}

.menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}

.menu-item {
    text-align: center;
    margin-left: 1px;
}

.menu-item__link {
    position: relative;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1px;
    overflow: hidden;
}

.menu-item__link span {
    font-size: 14px;
}

.menu-item__link::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: -50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 3px;
    background-color: #000;
    transition: all 0.3s;
    border-radius: 6px;
    transition: all 0.5s;
}

.menu-item__link:hover.menu-item__link::after {
    left: 50%;
    width: 100%;
    background-color: #ffdb00;
}

.menu-item__link:hover.menu-item__link span {
    color: #ffdb00;
}

.menu-item__submenu {
    display: none;
    text-align: center;
    margin-left: 1px;
    position: absolute;
    background-color: white;
    z-index: 1000;
    border: 1px solid rgb(136, 136, 136, 0.2);
    border-radius: 4px;
}

.menu-item:hover .menu-item__submenu {
    display: block;
}

.menu-item__submenu-fluid {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    z-index: 1000;
    border: 1px solid rgb(136, 136, 136, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 300px;
    overflow: auto;
    transform: translateY(10px);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 8px 0px;
}

/* .menu-item:hover .menu-item__submenu-fluid {
    display: block;
} */

.submenu__list {
    width: 250px;
    padding: 7px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.submenu__list-fluid {
    padding: 7px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
}

.submenu__item {
    display: block;
    padding: 4px 5px;
    transition: all 0.2s;
}

.submenu__item a {
    font-size: 15px;
    color: #5f5d5d;
    font-weight: 500;
}

.submenu__item:hover {
    background-color: rgb(136, 136, 136, 0.2);
    border-radius: 4px;
}

.submenu__item:hover.submenu__item a {
    color: black;
}

/* header-right */
.header-right {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 250px;
    padding: 0;
}

.header-right__lang,
.header-right__live,
.header-right__icons {
    padding: 5px 7px;
}

.header-right__live {
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px 10px;
    color: red;
    font-weight: 500;
    font-size: 15px;
}

.header-right__icons {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.header-right__acount {
    position: relative;
}

.account-action {
    display: none;
    width: 100px;
    z-index: 1000;
    background-color: rgb(67, 66, 66);
    top: calc(100% + 12px);
    left: -50%;
    color: white;
    border-radius: 10px;
}

.account-action::after {
    position: absolute;
    content: '';
    display: block;
    top: -17%;
    /* background-color: #dc323d; */
    left: 29%;
    transform: translateX(-50%);
    border-top: 0; /* Loại bỏ cạnh trên */
    border-left: 14px solid transparent; /* Cạnh trái trong suốt */
    border-right: 14px solid transparent; /* Cạnh phải trong suốt */
    border-bottom: 14px solid rgb(67, 66, 66); /* Cạnh dưới có màu để tạo đỉnh nhọn lên trên */
    z-index: 2400;
}

.account-action a {
    font-size: 15px !important;
    font-weight: 400;
    margin-bottom: 4px;
    padding: 5px 10px;
}

.account-action a:last-of-type {
    margin-bottom: 0px;
}

.header-right__acount:hover .account-action {
    display: block;
}

.account-action a:hover {
    background-color: rgb(136, 136, 136, 0.2);
    border-radius: 10px;
}

.header-right__cart {
    position: relative;
}

.header-right__cart_ {
    position: relative;
}

.header-right_count-cart {
    position: absolute;
    background-color: rgb(255, 219, 0);
    padding: 1px 6px;
    border-radius: 100%;
    font-size: 12px;
    transform: translate(-6px, -6px);
    font-weight: 400;
}

/* Cart icon header */

.top-cart-content {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    z-index: 1000;
    width: 400px;
    transform: translateX(2%);
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(136, 136, 136, 0.3);
    border-radius: 2px;
}

.top-cart-content_ {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    z-index: 1000;
    width: 400px;
    transform: translateX(2%);
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(136, 136, 136, 0.3);
    border-radius: 2px;
}

/* .header-right__cart:hover .top-cart-content {
    display: block;
} */

.list-cart {
    padding: 10px;
    height: 290px;
    overflow: auto;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list-item-cart_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.list-item-cart_info p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.list-item-cart_product-price {
    color: rgb(239, 54, 54);
}

.list-item-cart_product-price span {
    display: inline-block;
    color: black;
    font-size: 12px;
}

.top-subtotal {
    text-align: center;
}

.btn-checkout_cart-icon {
    margin-top: 10px;
    width: 100%;
}

/* Slider */
.slider-wrap {
    height: max-content;
}

.slider-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-item {
    /* position: relative;
    background-image: url('https://bizweb.dktcdn.net/100/521/820/themes/957130/assets/slider_1.jpg?1726653723228');
    padding-top: 21.4%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-color: rgb(171, 148, 152); */
}

.slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    z-index: 999;
    background-color: rgb(235, 235, 235, 0.5);
    text-align: center;
    /* padding: 10px 20px; */
    width: 43px;
    height: 43px;
    font-size: 13px;
    color: black;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}
.slick-arrow.slick-prev::after {
    position: absolute;
    top: -1px;
    left: 100%;
    content: '';
    border-bottom: 44px solid rgb(235, 235, 235, 0.5);
    border-right: 10px solid transparent;
    display: block;
    width: 10px;
    z-index: -1;
}

.slick-arrow.slick-next::after {
    position: absolute;
    top: -1px;
    right: 100%;
    content: '';
    border-bottom: 44px solid rgb(235, 235, 235, 0.5);
    border-left: 10px solid transparent;
    display: block;
    width: 10px;
    z-index: -1;
}

/* Tùy chỉnh toàn bộ khu vực dots */
.slick-dots {
    position: absolute;
    bottom: 10px; /* Điều chỉnh khoảng cách từ đáy của slider */
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Tùy chỉnh từng dot */
.slick-dots li {
    margin: 0 5px;
}

/* Tùy chỉnh nút dot */
.slick-dots li button {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: #ccc;
    border: none;
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu khi hover hoặc active */
}

/* Tùy chỉnh khi hover vào dot */
.slick-dots li button:hover {
    background-color: #888;
}

/* Tùy chỉnh dot đang active */
.slick-dots li.slick-active button {
    background-color: red;
}

.slick-dots li button {
    font-size: 0; /* Ẩn văn bản */
}

/* Danh mục sản phẩm */
.product-catalog {
    margin: 50px 0;
}
.product-catalog__heading {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}
.product-catalog__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
}

.product-catalog__item {
}

.product-catalog__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-catalog__wrap-img {
    position: relative;
}

.product-catalog__wrap-img::after {
    display: block;
    content: '';
    background: #ebebeb;
    width: 110px !important;
    height: 110px !important;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    z-index: -1 !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.product-catalog__item-link:hover .product-catalog__wrap-img::after {
    width: 120px !important;
    height: 120px !important;
    background-color: #ffdb00;
}

.product-catalog__item-img {
    width: 180px;
    height: 133px;
    object-fit: contain;
    --image-scale: 1;
}

.product-catalog__item-info {
    text-align: center;
}

.product-catalog__info-name {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: initial;
    overflow: hidden;
    font-weight: 600;
}

.product-catalog__info-number {
    text-align: center;
    font-size: 14px;
    color: #888;
}

/* Coupon list */
.coupon-list {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.coupon-item {
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 0 10px;
    position: relative;
}

.coupon-item__wrap-img {
    position: relative;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 0;
    padding: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    flex: 0 0 50px;
}

.coupon-item__img {
    max-width: 80%;
}

.coupon-item__info {
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.coupon-item__wrap-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    color: #131111;
    background-clip: padding-box;
    background: #372720;
    border-radius: 15px 0 0 15px;
}

.coupon-item__wrap-img::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    border-right: 3px dashed #b7adad;
}

.coupon-item__info {
}

.coupon-item__info-name {
    font-size: 14;
    font-weight: 600;
}
.coupon-item__info-description,
.coupon-item__info-code,
.coupon-item__info-expiry,
.coupon-item__info-code span,
.coupon-item__info-expiry span {
    color: #888;
    font-size: 12px;
}

.product-section__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* product item */
.product-list {
    /* flex-wrap: nowrap; */
}
.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    min-height: 150px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 6px 0px rgba(63, 63, 85, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.02); */
    border: 1px solid rgb(136, 136, 136, 0.2);
    overflow: hidden;
    padding: 10px 15px 10px;
    transition: all 0.3s ease-in-out;
}

.product-item__img-link {
    display: block;
}

.product-item__wrap-img {
    position: relative;
    width: 270px;
    height: 270px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

/* .product-item__wrap-img:hover {
    box-shadow: 0px 0px 6px 0px rgba(63, 63, 85, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.02);
} */

.product-item__img {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0px;
    display: block;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.product-item__img-thumnail {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.product-item__wrap-img:hover .product-item__img {
    /* opacity: 0;
    visibility: hidden; */
    transform: scale(0.95);
}

.product-item__wrap-img:hover .product-item__img-thumnail {
    opacity: 1;
    visibility: visible;
}

.action-bar {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 300%);
    background-color: white;
    border: 1px solid rgba(215, 207, 207, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.action-bar_icon {
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    width: 40px;
}

.product-item__wrap-img:hover .action-bar {
    transform: translate(-50%, 0%);
}

.product-item__info {
    width: 100%;
}

.product-item__info p {
    margin: 0px;
}
.product-info__vendor {
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    line-height: initial;
    color: #888;
}
.product-info__name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.product-info__price-box {
}
.product-info__contact {
    color: rgb(102, 102, 226);
    font-weight: 600;
}

.product-info__price,
.product-info__product-origin {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.product-info__price {
    color: red;
}

.product-info__product-origin {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    font-weight: 500;
}

.product-info__lable-sale {
}
.product-info__item-color--chosen {
    display: flex;
    margin-top: 10px;
}
.product-info__item-color-img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    border: 1px solid #888;
    margin-right: 3px;
}

.product-info__item-color-img:hover {
    border: 2px solid rgb(87, 243, 48);
    border-radius: 5px;
}

/* //thanh product sold */

.product-item__sold-info {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.product-item__sold-title {
    margin: 0;
    text-align: start;
}

.product-item__sold-bar {
    width: 100%;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 5px 0;
}

.product-item__sold-bar-fill {
    height: 100%;
    background-color: #dc323d; /* Màu đỏ đại diện cho số lượng đã bán */
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.product-item__sold--count {
    margin: 0;
}

.btn-load_more {
    position: relative;
    display: inline-block;
    width: 175px;
    height: 45px;
    line-height: 45px;
    border: 1px solid rgb(136, 136, 136, 0.2);
    text-align: center;
    overflow: hidden;
    z-index: 100;
    font-size: 18px;
    font-weight: 500;
}

.btn-load_more::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    width: 100%;
    background: #ffdb00;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.btn-load_more::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background: #ffdb00;
    z-index: -1;
}

.btn-load_more:hover::after {
    top: 0;
    z-index: -2;
    background: rgb(255, 219, 0, 0.9);
}

/* Collection gallery */
.collection-gallery {
    margin-top: 100px;
}
.collection-gallery__item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.collection-gallery__item img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s;
}

.collection-item__img {
    width: 100% !important;
    height: 100% !important;
}

.collection-gallery__item:hover img {
    transform: scale(1.05);
}

/* look book--one product */
.look-book_container {
    margin-top: 100px;
    display: flex;
}

.look-book__item-wrap_img {
}
.look-book__img {
    display: block;
    margin: auto;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
}

.look-book__item-info {
    height: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
}
.look-book__item-heading {
    font-weight: bold;
}
.look-book__item-description {
    margin-top: 15px;
    font-size: 16px;
    font-style: italic;
}
.look-book__item-advantages {
    margin-bottom: 15px;
}

.look-book__advantages-title {
    font-weight: 600;
    font-size: 16px;
}

.look-book-item_content {
    list-style: inside;
}

/* banner */

.slider-banner_img {
    width: 100%;
}

/* Blog */

.blog-container {
    margin-top: 50px;
}
.blog__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-item {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(136, 136, 136, 0.2);
    padding: 4px 10px;
    border-radius: 3px;
}

.blog-item__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.blog-item__content {
    margin-top: 10px;
}

.blog-item__title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}

.blog-item__text {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.btn-read_more {
    text-decoration: none;
    color: #888;
    transition: color 0.3s ease;
    text-decoration: underline;
    font-size: 15px;
}

.btn-read_more:hover {
    color: #0056b3;
}

.footer-logo {
    width: 200px;
    object-fit: contain;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section p,
.footer-links a {
    margin-bottom: 10px;
    display: inline-block;
}

/* mobile & tablet width< 1024*/
@media only screen and (max-width: 1023px) {
    /* header */
    .header-wrap {
        justify-content: space-between;
        overflow: hidden;
    }

    .header__logo {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .toggle-nav__mobile {
        display: block !important;
    }

    .toggle-nav__mobile i {
        font-size: 24px;
        transform: translate(-5px, 2px);
    }

    .header__logo-wrapper {
        margin-left: 10px;
    }

    .header__logo-img {
        object-fit: contain;
        width: 110px;
    }

    .header-center {
        display: none;
    }

    .header-right {
        justify-content: flex-end;
        flex: 1;
        width: auto;
    }
    /* lang */
    .header-right__lang-flag {
        width: 16px;
    }

    /* live */
    .header-right__live {
        font-size: 13px;
        padding: 0px 5px;
    }

    /* search */
    .header-right__icons {
        flex: 0;
    }
    .icon-action__search {
        margin-left: 10px;
    }

    .icon-action__search img,
    .header-right__cart-icon {
        height: 23px;
        width: 23px;
        object-fit: contain;
    }

    .header__logo_ {
        display: none !important;
    }

    .header-right_ {
        display: none !important;
    }

    #resultBox {
        padding: 20px 0;
    }
    .search-dropdow {
        margin: 0;
    }

    .search-results {
        width: 100% !important;
    }

    .search-results__heading-title {
        display: none;
    }

    .search-results__heading-title_list {
        margin-bottom: 5px;
    }

    .header_search-box_,
    .search_header_ {
        width: 100% !important;
    }

    .icon-action__search_ {
        right: 4% !important;
    }
    .header-right__cart {
        margin-left: 10px;
    }

    .header-right__acount {
        display: none;
    }

    .top-cart-content {
        display: none !important;
    }

    .header-right_count-cart {
        transform: translate(-12px, -6px);
    }

    .nav__mobile {
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        background: #fff;
        width: 300px;
        height: 100vh;
        padding: 0;
        z-index: 9999 !important;
        display: block !important;
    }

    .nav__acount-icon {
        object-fit: contain;
        margin-right: 15px;
    }

    .nav__acount {
        display: flex;
        background-color: #fb5531;
        padding: 10px;
        /* border-bottom: 3px solid #888; */
    }

    .nav__title-link {
        font-size: 14px;
        font-weight: 500;
        color: white;
    }

    .nav__title-link:first-child {
        font-weight: 600;
        font-size: 18px;
    }

    .nav__mobile-list {
        height: 860px;
        overflow: auto;
        padding: 10px;
    }

    .nav__mobile-item {
        list-style: none;
    }

    .nav__mobile-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        width: 100%;
        padding: 6px 10px;
        border-bottom: 1px solid rgb(136, 136, 136, 0.3);
    }

    .nav__mobile-item__sub-menu {
        display: none; /* Ẩn sub-menu ban đầu */
        overflow: hidden;
    }

    .mobile-nav__icon.rotated {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    /* .nav__mobile-item__sub-menu.active {
        height: 100%;
        opacity: 1;
        visibility: visible;
        padding: 10px 15px 10px 20px;
    } */

    .nav__mobile_sub-menu-list {
        padding-left: 10px;
    }

    .nav__mobile_sub-menu-item {
    }

    .nav__mobile_sub-menu-item-link {
        display: block;
        padding: 5px 10px;
        font-weight: 500;
    }

    /* Tùy chỉnh toàn bộ khu vực dots */
    .slick-dots {
        bottom: -10px; /* Điều chỉnh khoảng cách từ đáy của slider */
    }

    /* custem slick */
    .slick-list {
        padding: 10px 0;
    }

    .slick-slide {
        margin-right: 8px !important;
    }

    .slick-slide:last-child {
        margin-right: 0;
    }

    /* product */
    .product-item__wrap-img {
        width: 200px !important;
        height: 200px !important;
    }
}

/* mobile width < 768px*/
@media only screen and (max-width: 767px) {
    /* //Carouse */
    .slick-arrow {
        display: none !important;
    }

    /* Danh mục */
    .product-catalog__heading {
        font-size: 23px;
    }

    /* coupon */
    .coupon-list {
        margin: 0;
    }

    /* Product */

    .btn-load_more {
        font-size: 14px;
        /* padding: 3px 5px !important; */
        width: 120px;
        height: 40px;
        line-height: 35px;
        padding-left: 4px;
        box-sizing: border-box;
        border-radius: 5px;
    }
    /* .product-item__wrap-img {
        width: 180px;
        height: 180px;
    } */
    .product-section__heading {
        flex-direction: column;
    }

    .product-section__heading-row {
        flex-direction: row !important;
    }

    .product-section__heading h3 {
        font-size: 20px;
        font-weight: 600;
    }

    .product-section__heading-row h3 {
        font-size: 20px;
        font-weight: 600;
    }

    .slick-slide {
        margin: 0 5px;
    }

    .look-book__item-heading {
        font-size: 18px;
    }

    /* -----collection-gallery----- */

    .collection-gallery {
        margin-top: 50px;
        display: flex !important;
        flex-wrap: nowrap;
        overflow: hidden;
        width: 100%;
    }

    .collection-item__img {
        display: none !important;
    }

    .collection-gallery-mobile {
        display: flex !important;
        height: 100%;
        width: 100%;
    }

    .collection-item__img-mobile {
        display: flex !important;
        height: 100%;
        width: 100%;
        object-fit: contain !important;
        /* flex: 1 1 30%; */
    }

    .collection-gallery-pc {
        display: none !important;
    }

    .footer {
        margin-top: 30px !important;
        padding: 20px 8px 8px !important;
    }

    .footer-section_click {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
    }

    .footer-section__icon {
        display: inline-block !important;
    }

    .footer-section {
        margin-bottom: 15px;
        /* border-bottom: 1px solid white; */
    }

    .footer-links_click {
        display: none;
        /* transition: all 0.3s; */
    }

    .rotated {
        transform: rotate(180deg);
    }
}

/* tablet width >= 768px and with < 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* product */
}
